

body {
  background-image: url('main_page_background.jpg');
  background-repeat: no-repeat    !important;
}

/* element selector we are elelecting whole element p */
p1 
{

  color:blue;
  border-style: double;
  

}

/* ID selector */
#service_list 
{

  color: tomato;

}

/* CLASS selector*/

.listing
{

  outline-color: yellow;
  animation-name: initial;
  animation-play-state: running;



}

/* GROUPING SELECTOR */
span,footer
{

color: rgb(252, 113, 0);
font-family: cursive;
font-style: italic;



}

.terms
{ 
color: rgb(75, 124, 27);
font-family: cursive;

border-top: lightseagreen solid 2px;
border-bottom: lightseagreen solid 2px;
border-left: lightseagreen solid 2px;
border-right: lightseagreen solid 2px;
border-radius: 6px;
border-spacing: 1vmin;
background-image: url("TandC.jpg");
width: 200px;
height: 30px;
background-repeat: no-repeat;




}





